/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@delete-name: 'delete';
@delete-x: 64px;
@delete-y: 0px;
@delete-offset-x: -64px;
@delete-offset-y: 0px;
@delete-width: 48px;
@delete-height: 48px;
@delete-total-width: 112px;
@delete-total-height: 64px;
@delete-image: '~sprite.png';
@delete: 64px 0px -64px 0px 48px 48px 112px 64px '~sprite.png' 'delete';
@submit-name: 'submit';
@submit-x: 0px;
@submit-y: 0px;
@submit-offset-x: 0px;
@submit-offset-y: 0px;
@submit-width: 64px;
@submit-height: 64px;
@submit-total-width: 112px;
@submit-total-height: 64px;
@submit-image: '~sprite.png';
@submit: 0px 0px 0px 0px 64px 64px 112px 64px '~sprite.png' 'submit';
@spritesheet-width: 112px;
@spritesheet-height: 64px;
@spritesheet-image: '~sprite.png';
@spritesheet-sprites: @delete @submit;
@spritesheet: 112px 64px '~sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
